.header-wrapper {
  display: contents;
}
 
.header-thq-header-elm {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-layout-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-text {
  display: none;
}
 
.header-container1 {
  height: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-navlink1 {
  transition: 0.5s;
  margin-left: var(--dl-layout-space-halfunit);
  margin-right: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.header-navlink1:hover {
  transform: scale(0.95);
}
 
.header-navlink2 {
  display: contents;
}
 
.header-thq-profil-elm {
  display: none;
  transition: 0.3s;
  text-decoration: none;
}
 
.header-thq-profil-elm:hover {
  transform: scale(0.90);
}
 
.header-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.header-link1 {
  display: contents;
}
 
.header-icon13 {
  width: 25px;
  height: 25px;
  margin: var(--dl-layout-space-triplequarter);
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: var(--dl-layout-space-triplequarter);
  margin-right: var(--dl-layout-space-triplequarter);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.header-link2 {
  display: contents;
}
 
.header-icon15 {
  width: 22px;
  height: 22px;
  margin: var(--dl-layout-space-triplequarter);
  text-decoration: none;
}
 
.header-link3 {
  display: contents;
}
 
.header-icon19 {
  width: 25px;
  height: 25px;
  margin: var(--dl-layout-space-triplequarter);
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: var(--dl-layout-space-triplequarter);
  margin-right: var(--dl-layout-space-triplequarter);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.headerroot-class-name {
  margin-bottom: 0px;
}
 

 
@media(max-width: 991px) {
  .header-thq-header-elm {
    max-width: 1320px;
    margin-bottom: var(--dl-layout-space-triplequarter);
  }
  .header-thq-profil-elm {
    display: none;
  }
}
 
@media(max-width: 767px) {
  .header-text {
    display: none;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.75;
    text-transform: none;
    text-decoration: none;
  }
  .header-container1 {
    display: none;
  }
  .header-thq-profil-elm {
    width: 25px;
    height: 25px;
    display: flex;
  }
  .header-container2 {
    display: none;
  }
  .headerroot-class-name {
    margin-bottom: 0px;
  }
  .headerroot-class-name1 {
    background-color: transparent;
  }
}
 
@media(max-width: 479px) {
  .header-text {
    display: none;
  }
  .header-thq-profil-elm {
    display: flex;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
 
.footer-container2 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  flex-direction: row;
  justify-content: center;
}
 
.footer-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer-text1 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unit);
  font-weight: 600;
}
 
.footer-container4 {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.footer-container5 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: center;
}
 
.footer-link1 {
  display: contents;
}
 
.footer-icon10 {
  width: var(--dl-layout-size-doubleunit);
  height: var(--dl-layout-size-doubleunit);
  display: block;
  text-decoration: none;
}
 
.footer-container6 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  justify-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.footer-link2 {
  display: contents;
}
 
.footer-icon18 {
  width: var(--dl-layout-size-doubleunit);
  height: var(--dl-layout-size-doubleunit);
  text-decoration: none;
}
 
.footer-container7 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: center;
}
 
.footer-link3 {
  display: contents;
}
 
.footer-icon22 {
  width: var(--dl-layout-size-doubleunit);
  height: var(--dl-layout-size-doubleunit);
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-decoration: none;
}
 
.footer-text2 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
@media(max-width: 991px) {
  .footer-container2 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container3 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-doubleunit);
  }
}
 
@media(max-width: 767px) {
  .footer-text2 {
    text-align: center;
  }
}

.home-container10 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-hero-elm {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/bg-1500w.png");
  background-position: center;
}
 
.home-thq-bg-elm {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.7;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
 
.home-container11 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-container12 {
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
 
.home-text10 {
  color: var(--dl-color-gray-white);
  font-size: 2.25rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-transform: none;
}
 
.home-separator1 {
  width: 100%;
  height: 2px;
  border-radius: var(--dl-layout-radius-round);
  background-color: var(--dl-color-secondary-400);
}
 
.home-text11 {
  color: var(--dl-color-gray-900);
  font-size: 1.25rem;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  text-transform: none;
  text-decoration: none;
}
 
.home-text13 {
  color: var(--dl-color-gray-900);
  text-align: center;
}
 
.home-image1 {
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  display: none;
  position: absolute;
  object-fit: cover;
}
 
.home-thq-section1-elm {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: var(--dl-color-pimary-900);
}
 
.home-container13 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-container-elm {
  width: 66%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-text15 {
  color: #4aade3;
  font-style: normal;
}
 
.home-text16 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
 
.home-text17 {
  color: var(--dl-color-secondary-700);
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}
 
.home-thq-cards-container-elm {
  display: flex;
  margin-top: var(--dl-layout-space-tripleunit);
  align-items: flex-start;
  padding-top: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: space-between;
}
 
.home-thq-card1-elm {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
 
.home-thq-card1-elm:hover {
  transform: translateY(-2px);
}
 
.home-container14 {
  flex: 0 0 auto;
  width: 6rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-image2 {
  width: 6rem;
  height: auto;
  align-self: center;
  object-fit: cover;
}
 
.home-text20 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  font-family: Open Sans;
}
 
.home-text21 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: center;
  font-family: "Open Sans";
  line-height: 1.625rem;
}
 
.home-thq-card2-elm {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
 
.home-thq-card2-elm:hover {
  transform: translateY(-2px);
}
 
.home-container15 {
  flex: 0 0 auto;
  width: 6rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-image3 {
  width: 6rem;
  height: var(--dl-layout-size-tripleunit);
  object-fit: cover;
  border-top-right-radius: var(--dl-layout-radius-radius4);
  border-bottom-right-radius: var(--dl-layout-radius-radius4);
}
 
.home-text22 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  font-family: Open Sans;
}
 
.home-text23 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: center;
  font-family: "Open Sans";
  line-height: 1.625rem;
}
 
.home-thq-card3-elm {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius50);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-gray-white);
}
 
.home-thq-card3-elm:hover {
  transform: translateY(-2px);
}
 
.home-container16 {
  flex: 0 0 auto;
  width: auto;
  height: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-container17 {
  flex: 0 0 auto;
  width: 6rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-image4 {
  width: 6rem;
  height: var(--dl-layout-size-doubleunit);
  object-fit: cover;
}
 
.home-text24 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
}
 
.home-text25 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: center;
  font-family: "Open Sans";
  line-height: 1.625rem;
}
 
.home-thq-work-with-us-elm {
  display: flex;
  margin-top: var(--dl-layout-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: row;
}
 
.home-container18 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-container19 {
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: 1rem;
  justify-content: center;
  background-color: var(--dl-color-secondary-500);
}
 
.home-icon10 {
  width: 35px;
  height: 35px;
  background: #677B8E;
  border-radius: var(--dl-layout-radius-round);
  border-top-left-radius: var(--dl-layout-radius-radius25);
  border-top-right-radius: var(--dl-layout-radius-radius25);
  border-bottom-left-radius: var(--dl-layout-radius-radius25);
  border-bottom-right-radius: var(--dl-layout-radius-radius25);
}
 
.home-text26 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text27 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-layout-space-unit);
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-container20 {
  margin-top: 1.5rem;
  transition: 0.5s;
  margin-bottom: 1.5rem;
}
 
.home-container20:hover {
  transform: scale(1.02);
}
 
.home-container21 {
  display: contents;
}
 
.home-container22 {
  flex: 0 0 auto;
  width: 35%;
  display: flex;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-layout-radius-radius50);
  flex-direction: column;
  background-color: #09A6E9;
}
 
.home-container23 {
  width: 100%;
  height: 330px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius4);
  background-size: cover;
  justify-content: center;
  background-image: url("public/profile-1400w.png");
  background-repeat: no-repeat;
  background-position: top;
  border-top-left-radius: var(--dl-layout-radius-radius4);
}
 
.home-container24 {
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  position: relative;
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
}
 
.home-text30 {
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  text-transform: none;
  text-decoration: none;
}
 
.home-text31 {
  color: var(--dl-color-gray-white);
}
 
.home-text34 {
  color: #f2f5f9;
  font-size: 1.125rem;
  margin-top: var(--dl-layout-space-unit);
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
 
.home-thq-section2-elm {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-container25 {
  width: 66%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-text37 {
  fill: var(--dl-color-pimary-500);
  color: #764ae3;
  font-style: normal;
}
 
.home-text38 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-halfunit);
  text-align: center;
}
 
.home-text39 {
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
 
.home-text41 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  line-height: 1.75;
  margin-bottom: var(--dl-layout-space-unitandhalf);
}
 
.home-thq-growing-company-section-elm {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-container26 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: center;
  margin-left: var(--dl-layout-space-tripleunit);
  margin-right: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-container27 {
  flex: 0 0 auto;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-self: center;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-secondary-500);
}
 
.home-icon12 {
  width: var(--dl-layout-size-tripleunit);
  height: var(--dl-layout-size-tripleunit);
  align-self: center;
}
 
.home-text42 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unitandhalf);
}
 
.home-text43 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unitandhalf);
}
 
.home-container28 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text44 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
 
.home-container29 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text45 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
 
.home-container30 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text46 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
 
.home-container31 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: center;
  margin-left: var(--dl-layout-space-tripleunit);
  margin-right: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-container32 {
  flex: 0 0 auto;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-self: center;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-secondary-500);
}
 
.home-icon14 {
  width: var(--dl-layout-size-tripleunit);
  height: var(--dl-layout-size-tripleunit);
  align-self: center;
}
 
.home-text47 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unitandhalf);
}
 
.home-text48 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unitandhalf);
}
 
.home-container33 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text49 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
 
.home-container34 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text50 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
 
.home-container35 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text51 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
 
.home-container36 {
  flex: 0 0 auto;
  width: 66%;
  display: flex;
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
  flex-direction: column;
}
 
.home-text52 {
  fill: var(--dl-color-secondary-500);
  color: var(--dl-color-secondary-500);
  font-size: 1rem;
  font-style: normal;
  font-family: "-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif";
  font-weight: 700;
  line-height: 1.75;
  text-transform: none;
  text-decoration: none;
}
 
.home-text53 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
 
.home-text54 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: 0.25rem;
}
 
.home-thq-team-elm {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.home-container37 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: row;
}
 
.home-container38 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: center;
}
 
.home-container39 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-image5 {
  width: 100%;
  height: 65px;
  object-fit: cover;
}
 
.home-text55 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unitandhalf);
  text-align: center;
}
 
.home-text56 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unitandhalf);
}
 
.home-container40 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: center;
}
 
.home-container41 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-image6 {
  width: 100%;
  height: 65px;
  object-fit: cover;
}
 
.home-text57 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unitandhalf);
  text-align: center;
}
 
.home-text60 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unit);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unitandhalf);
}
 
.home-thq-section3-elm {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: var(--dl-color-secondary-100);
}
 
.home-container42 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-text61 {
  font-style: normal;
  font-weight: 700;
}
 
.home-text62 {
  fill: var(--dl-color-pimary-500);
  color: var(--dl-color-pimary-500);
  text-align: center;
}
 
.home-text63 {
  width: 80%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0.25rem;
}
 
.home-text64 {
  font-weight: 400;
}
 
.home-text65 {
  font-weight: 300;
}
 
.home-thq-services-elm {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
 
.home-container43 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-container44 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-secondary-400);
}
 
.home-icon18 {
  width: 30px;
  height: 30px;
}
 
.home-text66 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-layout-space-unitandhalf);
  font-weight: 600;
}
 
.home-text67 {
  color: rgb(100, 116, 139);
  font-size: 1.25rem;
  text-align: center;
}
 
.home-container45 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-container46 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-secondary-400);
}
 
.home-text68 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-layout-space-unitandhalf);
  font-weight: 600;
}
 
.home-text69 {
  color: rgb(100, 116, 139);
  font-size: 1.25rem;
  text-align: center;
}
 
.home-container47 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-container48 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-secondary-400);
}
 
.home-text70 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-layout-space-unitandhalf);
  font-weight: 600;
}
 
.home-text71 {
  color: rgb(100, 116, 139);
  font-size: 1.25rem;
  text-align: center;
}
 
.home-thq-contact-elm {
  display: flex;
  align-self: center;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: center;
  flex-direction: column;
}
 
.home-text72 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-layout-space-halfunit);
  text-align: center;
  align-self: center;
}
 
.home-container49 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-layout-space-unitandhalf);
  padding-left: var(--dl-layout-space-unitandhalf);
  padding-right: var(--dl-layout-space-unitandhalf);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unitandhalf);
  justify-content: center;
}
 
.home-container50 {
  display: block;
  align-self: center;
  margin-top: 1.5rem;
  transition: 0.5s;
  justify-items: center;
  margin-bottom: 1.5rem;
}
 
.home-container50:hover {
  transform: translateY(-2px);
}
 
.home-container51 {
  display: contents;
}
 
.home-separator2 {
  width: 100%;
  height: 2px;
  border-radius: var(--dl-layout-radius-round);
  background-color: var(--dl-color-secondary-400);
}
 
.home-link {
  display: contents;
}
 
.home-container52 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon24 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text73 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .home-thq-cards-container-elm {
    align-items: center;
    flex-direction: column;
  }
  .home-thq-card1-elm {
    width: 90%;
    margin-bottom: var(--dl-layout-space-fiveunits);
  }
  .home-thq-card2-elm {
    width: 90%;
    margin-bottom: var(--dl-layout-space-fiveunits);
  }
  .home-thq-card3-elm {
    width: 90%;
  }
  .home-container24 {
    align-self: center;
  }
  .home-text30 {
    align-self: center;
    text-align: center;
  }
  .home-text34 {
    align-self: center;
    text-align: center;
  }
  .home-thq-section2-elm {
    padding-left: var(--dl-layout-space-doubleunit);
    padding-right: var(--dl-layout-space-doubleunit);
  }
  .home-text38 {
    text-align: center;
  }
  .home-text42 {
    margin-top: var(--dl-layout-space-unitandhalf);
  }
  .home-text47 {
    margin-top: var(--dl-layout-space-unitandhalf);
  }
  .home-container37 {
    flex-direction: row;
  }
  .home-container38 {
    height: 185px;
  }
  .home-image5 {
    width: 100%;
    height: 75px;
    padding-top: 0px;
    margin-bottom: 0px;
  }
  .home-container40 {
    height: 185px;
  }
  .home-image6 {
    width: 100%;
    height: 75px;
  }
  .home-thq-section3-elm {
    padding-left: var(--dl-layout-space-doubleunit);
    padding-right: var(--dl-layout-space-doubleunit);
  }
  .home-container42 {
    width: 100%;
  }
  .home-thq-services-elm {
    align-items: center;
    flex-direction: column;
  }
  .home-container43 {
    width: 100%;
    padding-bottom: var(--dl-layout-space-doubleunit);
  }
  .home-container45 {
    width: 100%;
    padding-bottom: var(--dl-layout-space-doubleunit);
  }
  .home-container47 {
    width: 100%;
    padding-bottom: var(--dl-layout-space-doubleunit);
  }
}
 
@media(max-width: 767px) {
  .home-image1 {
    display: none;
  }
  .home-thq-section1-elm {
    padding-left: var(--dl-layout-space-doubleunit);
    padding-right: var(--dl-layout-space-doubleunit);
  }
  .home-thq-container-elm {
    width: 100%;
  }
  .home-thq-work-with-us-elm {
    margin-top: var(--dl-layout-space-tripleunit);
    flex-direction: column;
  }
  .home-container18 {
    width: 100%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-container19 {
    align-self: center;
  }
  .home-text26 {
    align-self: center;
  }
  .home-text27 {
    align-self: center;
    text-align: center;
  }
  .home-container20 {
    align-self: center;
  }
  .home-container22 {
    width: 100%;
  }
  .home-container23 {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .home-container24 {
    align-self: center;
  }
  .home-text30 {
    align-self: center;
  }
  .home-text34 {
    text-align: center;
  }
  .home-container25 {
    width: 100%;
  }
  .home-thq-growing-company-section-elm {
    flex-direction: column;
  }
  .home-container26 {
    width: 100%;
    margin-top: var(--dl-layout-space-doubleunit);
  }
  .home-container31 {
    width: 100%;
    margin-top: var(--dl-layout-space-doubleunit);
  }
  .home-container36 {
    width: auto;
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .home-container37 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .home-container38 {
    width: 100%;
    margin-top: var(--dl-layout-space-doubleunit);
  }
  .home-container40 {
    width: 100%;
    margin-top: var(--dl-layout-space-doubleunit);
  }
  .home-container50 {
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .home-container12 {
    padding-left: var(--dl-layout-space-doubleunit);
    padding-right: var(--dl-layout-space-doubleunit);
  }
  .home-thq-card1-elm {
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-text21 {
    text-align: left;
  }
  .home-thq-card2-elm {
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-text23 {
    text-align: left;
  }
  .home-text25 {
    text-align: left;
  }
  .home-container19 {
    align-self: center;
  }
  .home-text26 {
    align-self: center;
  }
  .home-container20 {
    align-self: center;
  }
  .home-container24 {
    align-self: center;
  }
  .home-text30 {
    align-self: center;
    text-align: center;
  }
  .home-text34 {
    text-align: center;
  }
  .home-container26 {
    align-items: flex-start;
  }
  .home-text42 {
    align-self: center;
  }
  .home-container28 {
    align-self: center;
  }
  .home-text44 {
    display: block;
  }
  .home-container29 {
    align-self: center;
  }
  .home-text45 {
    display: block;
  }
  .home-container30 {
    align-self: center;
  }
  .home-text46 {
    display: block;
  }
  .home-container31 {
    align-items: flex-start;
  }
  .home-text47 {
    align-self: center;
  }
  .home-container33 {
    align-self: center;
  }
  .home-container34 {
    align-self: center;
  }
  .home-container35 {
    align-self: center;
  }
  .home-container37 {
    align-items: center;
    flex-direction: column;
  }
  .home-container38 {
    align-items: flex-start;
  }
  .home-text55 {
    align-self: center;
  }
  .home-text56 {
    align-self: center;
  }
  .home-container40 {
    align-items: flex-start;
  }
  .home-text57 {
    align-self: center;
  }
  .home-text60 {
    align-self: center;
  }
  .home-text62 {
    text-align: center;
  }
  .home-text72 {
    fill: var(--dl-color-gray-900);
    color: var(--dl-color-gray-900);
    align-self: center;
    text-align: center;
  }
  .home-container50 {
    align-self: center;
  }
}
